.queryTab{
    margin-inline: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block: 40px;
    
}

.queryHeading{
    margin-left: 10px;
  font-size: 18px;
  font-family:'Courier New', Courier, monospace;
  color: white;
  font-weight: bolder;
  /* text-align: center; */
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.queryContainer{
   padding: 20px;
    border-radius: 20px;
    background-color: rgb(51 65 85);
    color:white;
    opacity: 0.7;
    font-size: 12px;
}
.queryContainer:hover{
    opacity: 1;
    cursor: pointer;
}